extends layout
block content
  .contactPage_title User Input Form
    .form_wrapper
      form(method='post', action='/users')
        fieldset
          legend Personal Particular
          .contactForm_tr
            .contactForm_td1 Prenom
            .contactForm_tdMiddle : 
            .contactForm_td2
              input#first_name.Personal-input(name='first_name', type='text', value='')
          .contactForm_tr
            .contactForm_td1 NomdeFamille
            .contactForm_tdMiddle : 
            .contactForm_td2
              input#last_name.Personal-input(name='last_name', type='text', value='')
          .contactForm_tr
            .contactForm_td1 Email
            .contactForm_tdMiddle : 
            .contactForm_td2
              input.Personal-input(name='email', type='text', maxlength='65')
        fieldset
        .form-button(style='margin-left: 100px; margin-right: 10px;')
          input#Submit.submit_btn(type='image', border='0', name='submit', alt='Submit', src='/images/submit_btn.png')
        .form-button
          input#Submit.clear_btn(type='image', border='0', name='clear', alt='clear', src='/images/clear_btn.png')
    .reachus_wrapper
      .reach_txt
        .reachusTitle  REACH US AT: 
        .reachuslable  Hacker 110
        .reachusLink
          a(href='mailto:eric.robibaro@radialpoint.com') eric.robibaro@radialpoint.com
        .reachuslable Hacker 111
        .reachusLink
          a(href='mailto:hans.maryil@radialpoint.com') hans.maryil@radialpoint.com
        .reachuslable Customer Support:
        .reachusLink
          a(href='mailto:eric.robibaro@radialpoint.com+hans.maryil@radialpoint.com') eric.robibaro@radialpoint.com hans.maryil@radialpoint.com
    .reachus_wrapper_vcard
      .vcard_txt
        | Hacker 110 and 111
        | Radialpoint dept of fake hacker numbers
        | Sweet suite 300 with kitchen!
        | Montreal, QC, H9H 9H9
        | Canada
