

extends layout
block content
  h1 Listing users
    table
      thead
        tr
          th Prenom
          th NomDeFamille
          th Email
      tbody
        - each user in users.rows
          tr
            td #{user.first_name}
            td #{user.last_name}
            td #{user.email}
    br

  a(href="users/new") Add New User
